<div class="div_container">
    {% include '@blog/leftmenu.html.twig' %}
    <div id="MainEntryContainer">
        <div id="BlogListDiv" class="BlogName">Blog List</div>
        <div id="DivContentTable">

        <table id="datatable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>User Name</th>
                    <th>&nbsp;</th>
                    <th>Blog Name</th>
                    <th>Blog Type</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% if  item['user_name'] %}    
                <tr id="row_{{ loop.index0 + 1 }}" class="{{ loop.index0 is odd ? 'even' : 'odd' }}" style="line-height:4rem">
                    <td>{{ loop.index0 + 1 }}<div class="w20px"></div></td>
                    <td>{{  item['user_name'] }}</td>
                    <td>{% include '@common/common-follow.html.twig'  with {contributor_id: item['user_id'], following: item['follow']}  %}</td>
                    <td><a href="{{ path('blog.blog_view' , {'blog_id': item['blog_id']}) }}">Blog of {{  item['user_name'] }}</a></td>
                    <td>{% if item['blog_type'] == "P"  %}Personal{% else %}Thematic{% endif%}</td>
                </tr>
                {% endif %}
                {% endfor %}        
            </tbody>
            <tfoot>
                    <th>&nbsp;</th>
                    <th>User Name</th>
                    <th>&nbsp;</th>
                    <th>Blog Name</th>
                    <th>Blog Type</th>    
            </tfoot>
        </table>
         

    </div>
</div>

<script>
new DataTable('#datatable', {
     order: [[1, 'asc']],
     "columnDefs": [
    { "orderable": false, "targets": 2 }
  ]
});
</script>
