<div class="div_container">
{% include '@blog/leftmenu.html.twig' %}

{% include '@common/common-tags.html.twig' %}

<input type="hidden" name="tag_page" id="tag_page" value="{{ path('blog.blog_tag') }}">
<input type="hidden" name="notag_page" id="notag_page" value="{{ path('blog.blog_content') }}">

<div id="MainEntryContainer">
    <div style="float:right;">
       <button class="kicp_button" onclick="copyTextToClipboard(); mailto(3,'')"><i class="fa-solid fa-share-nodes"></i> Share</button>
       <div id="DivCopyText" style="display:none;"><input name="CopyTextTemp" id="CopyTextTemp" value=""></div>
    </div>
    {% if  items['blog'] %}
    <div><span class="BlogName">{{ items['blog']['user_full_name'] }}</span><span>{% include '@common/common-follow.html.twig'  with {contributor_id: items['blog']['user_id'], following: items['blog']['follow']}  %}</span></div>
    {% endif %}

 {% for item in items %}
    {% if  item['entry_title'] %}
    <div id="DivEntry_{{item ['entry_id'] }}" class="EntryContainer {{ loop.index0 is odd ? 'odd' : 'even' }}">
        <div style="float:right">
           {% if user.hasPermission('access administration pages') or (item ['user_id'] == my_user_id or delegate)  %}
            <span><button class="kicp_button" onclick="self.location.href='{{ path('blog.change_data' , {'entry_id': item['entry_id']}) }}'"><i class="fa-solid fa-pencil"></i> Edit</button></span>
            <span><button class="kicp_button" onClick="module_item_delete('blog',{{ item['entry_id'] }})"><i class="fa-solid fa-trash-can"></i> Delete</button></span>
            {% endif %}
         </div>
        <div class="entry_title"><a href="{{ path('blog.blog_entry' , {'entry_id': item['entry_id']}) }}">{{item ['entry_title'] | raw }}</a></div>
        {% if  item['user_displayname'] %}
        <div class="blog_subtitle">{{ item['user_displayname'] }}</div>
        {% endif %}
        <div class="entry_content">{{item ['entry_content'] | raw }}</div>
        <div>
        {% for attachment in item['attachments'] %}
         <a href="/download/blog/{{ item ['entry_id'] }}?fname={{ attachment | url_encode }}" target="_blank"><i class="fa fa-paperclip" aria-hidden="true"></i> {{ attachment}}</a><br><br>
        {% endfor %}
        </div>
        {% if item['is_pub_comment'] %}
        <div class="entry_comment"><a href="{{ path('blog.blog_entry' , {'entry_id': item['entry_id']}) }}#comment_area">Comment ({{item['comment_total']}})</a></div><br>
        {% endif %}
         {% include '@common/common-tags-list.html.twig'  with {tags: item ['tags']}  %}            
        <div class="entry_time">
        {% if item['is_visible'] %}
        <span class="blog_subtitle">Publish Date:</span>
        {% else %}
        <span class="blog_subtitle">[Pending] Last Save:</span>
        {% endif %}
        {{item ['entry_modify_datetime'] | date('d.m.Y H:i:s') }}
        </div>
        <div class="text-right">{% include '@common/common-like.html.twig'  with {module: 'blog', 'record_id':  item['entry_id'], countLike: item ['countlike'], 'liked': item ['liked']  }  %}</div>
    </div>
    {% endif %}
   {% endfor %}


<Script>getiframe();</script>

      <div style="float:right">{{ pager }}</div>
  </div>
  
</div>

     


{% include '@common/common-confirm-delete.html.twig'  with {module: 'Blog'}  %}

