<div class="div_container">
{% include '@blog/leftmenu.html.twig' %}
<div id="MainEntryContainer">
    <div id="BlogListDiv" class="BlogName">My Delegated Users</div> 
    <div style="width: 25%; float:right; text-align:right;">
        <button class="kicp_button" onClick="self.location.href='{{ path('blog.blog_delegate_list_add') }}'"><i class="fa-solid fa-circle-plus"></i> Add Delegated User</button>
    </div>
    <div id="DivContentTable">
        <div class="common_table_header">
            <div style="width:11%;">&nbsp;</div>
            <div style="width:60%;text-align:left;">User Name</div>
            <div style="width:15%;text-align:left;">&nbsp;</div>
        </div>

        {% for item in items %}
           {% if  item['member_id'] %}
        <div id="row_{{ loop.index0 + 1 }}" class="DivContentTable_item {{ loop.index0 is odd ? 'odd' : 'even' }}">
            <div style="width:11%;float:left;display:block;">{{ loop.index0 + 1 }}</div>
            <div style="width:60%;float:left;display:block;"><span title="{{  item['user_id'] }}">{{  item['member_name'] }}</span><span id="DivFollow{{  item['user_id'] }}"><a href="javascript:void(0);" onclick="updateFollowUserStatus('{{  item['user_id'] }}', 1, this)" style="border-bottom:0px;"><i class="fa-solid fa-user-plus"></i></a></span></div>
            <div style="width:15%;float:left;display:block;"><span><button class="kicp_button" onClick="module_item_delete('blog_delegate','{{ item['member_id'] }}')"><i class="fa-solid fa-trash-can"></i> Delete</button></span></div>
        </div>
           {% endif %}
        {% endfor %}
    </div>
</div>
</div>

{% include '@common/common-confirm-delete.html.twig'  with {module: 'Blog Delegrate User'}  %}