<div class="div_container">
    {% include '@blog/leftmenu.html.twig' %}
    <div id="MainEntryContainer">
        <form id="search_form" name="search_form" method="get">
            <div style="width:100%;text-align:right;float:right;margin:5px;">
            <input type="text" id="search_str" name="search_str" size="40" value="{{  items['search_str'] }}" placeholder="User Name / Blog Name"></div>
        </form>
        <div id="BlogListDiv" class="BlogName">Blog List</div>
        <div id="DivContentTable">

            <div class="common_table_header2 columns">
                <div class="w10 ">&nbsp;</div>
                <div class="w20 text-left">User Name</div>
                <div class="w10">&nbsp;</div>
                <div class="w40">Blog Name</div>
                <div class="w20">Blog Type</div>
            </div>

            {% for item in items %}
            {% if  item['user_name'] %}
            <div id="row_{{ loop.index0 + 1 }}" class="DivContentTable_item columns {{ loop.index0 is odd ? 'odd' : 'even' }}">
                <div class="w10">{{ loop.index0 + 1 }}</div>
                <div class="w20">{{  item['user_name'] }}</div>
                <div class="w10">{% include '@common/common-follow.html.twig'  with {contributor_id: item['user_id'], following: item['follow']}  %}</div>
                <div class="w40"><a href="{{ path('blog.blog_view' , {'blog_id': item['blog_id']}) }}">Blog of {{  item['user_name'] }}</a></div>
                <div class="w20">{% if item['blog_type'] == "P"  %}Personal{% else %}Thematic{% endif%}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div style="float:right">{{ pager }}</div>
    </div>
</div>

