{% include '@blog/leftmenu.html.twig' %}

{% include '@common/common-tags.html.twig' %}

<input type="hidden" name="tag_page" id="tag_page" value="../blog_tag">
<input type="hidden" name="notag_page" id="notag_page" value="../blog">

<div id="MainEntryContainer">
   <div style="float:right;">
       <button class="kicp_button" onclick="copyTextToClipboard(); mailto(3,'')"><i class="fa-solid fa-share-nodes"></i> Share</button>
       <div id="DivCopyText" style="display:none;"><input name="CopyTextTemp" id="CopyTextTemp" value=""></div>
    </div>
    {% if  items['blog'] %}
    <div class="BlogName">{{ items['blog']['blog_name'] }}<span id="DivFollow>{{ items['blog']['user_id'] }}"><a href="javascript:void(0);" onclick="updateFollowUserStatus('{{ items['blog']['user_id'] }}', 1, this)" style="border-bottom:0px;"><i class="fa-solid fa-user-plus"></i></a></span></div>
    {% endif %}

 {% for item in items %}
    {% if  item['entry_title'] %}
    <div id="DivEntry_{{item ['entry_id'] }}" class="EntryContainer {{ loop.index0 is odd ? 'odd' : 'even' }}">
        <div style="float:right">   
            <span><button class="kicp_button" onclick="self.location.href='{{ path('blog.change_data' , {'entry_id': item['entry_id']}) }}'"><i class="fa-solid fa-pencil"></i> Edit</button></span>
            <span><button class="kicp_button" onClick="module_item_delete('blog',{{ item['entry_id'] }})"><i class="fa-solid fa-trash-can"></i> Delete</button></span>

         </div>
        <div class="entry_title"><a href="{{ path('blog.blog_entry' , {'entry_id': item['entry_id']}) }}">{{item ['entry_title'] }}</a></div>
        <div class="entry_content">{{item ['entry_content'] | raw }}</div>
        <div>
        {% for attachment in item['attachments'] %}
         <a href="/download/blog/{{ item ['entry_id'] }}?fname={{ attachment | url_encode }}" target="_blank"><i class="fa fa-paperclip" aria-hidden="true"></i> {{ attachment}}</a><br><br>
        {% endfor %}
        </div>
        <div class="entry_comment"><a href="blog_view?entry_id=1397#comment_area">Comment (0)</a></div><br>
            {% include '@common/common-tags-list.html.twig'  with {tags: item ['tags']}  %}            
        <div class="entry_time"><span class="blog_subtitle">Publish Date:</span> {{item ['entry_modify_datetime'] }}</div>
        {% include '@common/common-like.html.twig'  with {module: 'blog', 'record_id':  item['entry_id'], countLike: item ['countlike'], 'liked': item ['liked']  }  %}
    </div>
    {% endif %}
   {% endfor %}

     {{ pager }}
</div>

{% include '@common/common-confirm-delete.html.twig'  with {module: 'Blog'}  %}

