<div class="ProfileMainContainer">
    <div class="clear"></div>
    <div style="float:left; display:inline-block;">
    {% include '@profile/profile-leftmenu.html.twig' with {type: 'group'}  %}
    </div>
    <div id="RightContainer">
        <div class="ProfileName">{{ items['type']=='P'?'Personal Public Group':'Personal Group' }} </div>
         <div class="text-right">
            <button class="kicp_button size-2" onClick="self.location.href='{{ path('profile.profile_group_add') }}?type={{  items['type']=="P"?'P':'B' }}'"><i class="fa-solid fa-user-plus"></i> Add {{ items['type']=='P'?'Personal Public Group':'Personal Group' }}</button>
        </div>
        <div id="DivContentTable">
           {% include '@common/common-search-form.html.twig'  with {placeholder: 'Group Name'}  %}    
            <div class="common_table_header">
                <div><div class="w40px"></div>Group Name</div>
            </div>
            {% for item in items %}
            {% if  item['group_name'] is not null %}
            <div id="row_{{ loop.index0 + 1 }}" class="DivContentTable_item {{ loop.index0 is odd ? 'even' : 'odd' }}">
                <div style="width:2%;float:left;display:block;margin-left:5px;">{{ loop.index0 + 1 }}</div>
                <div style="width:62%;float:left;display:block;">{{ item['group_name'] }}</div>
                <div style="float:left;display:block;">
                    <span><button class="kicp_button" onClick="location.href='{{ path('profile.profile_group_member' , {'type': items['type']=="P"?'P':'B'  , 'group_id' : item['group_id']  }  ) }}';"><i class="fa-solid fa-user-group"></i>Member</button></span>
                    <span><button class="kicp_button" onClick="location.href='{{ path('profile.profile_group_change' , { 'type':  items['type']=="P"?'P':'B' , 'group_id': item['group_id'] } ) }}';"><i class="fa-solid fa-pencil"></i> Edit</button></span>
                    <span><button class="kicp_button size-2" onclick="module_item_delete('profile_group','{{  items['type']=="P"?'P':'B' }},{{ item['group_id'] }}')"><i class="fa-solid fa-trash-can"></i> Delete</button></span>
               </div>
            </div>
            {% endif %} 
            {% endfor %} 
        </div>
    </div>
</div>
<div style="float:right; margin:20px;">{{ pager }}</div>
