<div class="ProfileMainContainer">
    <div class="clear"></div>
    <div style="float:left; display:inline-block;">
    {% include '@profile/profile-leftmenu.html.twig' with {type: 'group'}  %}
    </div>
    <div id="RightContainer">
        <div class="ProfileName">{{ items['type']=='P'?'Personal Public Group':'Personal Group' }} </div>
        <div style="width: 55%; text-align: right; margin-top: -30px; float: right;">
            <button class="kicp_button size-2" onClick="self.location.href='../profile_group_add?type={{  items['type']=="P"?'P':'B' }}'"><i class="fa-solid fa-circle-plus"></i> Add {{ items['type']=='P'?'Personal Public Group':'Personal Group' }}</button>
        </div>
        <div id="DivContentTable">
            <form id="search_form" name="search_form" method="get">
                <div style="width:100%;text-align:right;float:right;margin:5px;">
                    <input type="hidden"  name="type" value="{{ items['type']=='P'?'P':'B' }}">
                    <input type="text" id="search_str" name="search_str" size="40" value="{{  items['search_str'] }}" placeholder="Group Name">
                </div>
            </form>
            <div class="common_table_header">
                <div style="width:60%;text-align:left;margin-left:5px;">Group Name</div>
                <div style="width:35%;">&nbsp;</div>
            </div>
            {% for item in items %}
            {% if  item['group_name'] is not null %}
            <div id="row_{{ loop.index0 + 1 }}" class="DivContentTable_item {{ loop.index0 is odd ? 'even' : 'odd' }}" style="width:100%;">
                <div style="width:2%;float:left;display:block;margin-left:5px;">{{ loop.index0 + 1 }}</div>
                <div style="width:60%;float:left;display:block;">{{ item['group_name'] }}</div>
                <div style="width:35%;float:left;display:block;">
                    Member Edit 
                    <button class="kicp_button size-2" onclick="module_item_delete('profile_group','{{  items['type']=="P"?'P':'B' }},{{ item['group_id'] }}')"><i class="fa-solid fa-trash-can"></i> Delete</button>
               </div>
            </div>
            {% endif %} 
            {% endfor %} 
        </div>
    </div>
</div>
<div style="float:right; margin:20px;">{{ pager }}</div>
{% include '@common/common-confirm-delete.html.twig'  with {module: 'profile group'}  %}