<div id="video_content_div">
    {% include '@common/common-tags.html.twig' %}
     <input type="hidden" name="tag_page" id="tag_page" value="{{ path('video.video_tag') }}">
     <input type="hidden" name="notag_page" id="notag_page" value="{{ path('video.video_entrylist') }}">
     <div style="clear:both"></div>
     <div id="DivContentTable">
    {% for item in items %}
        <div class="homepage_div {{ loop.index0 is odd ? 'odd' : 'even' }}">
            <div style="float:left; padding-right:20px;">

            {% if item['is_event']==1   %}
            {% set imgpath = 'image' %}
            {% set titledesc = 'Video' %}
            {% else %}
            {% set imgpath = 'video_image' %}
            {% set titledesc = 'Video Clip' %}
            {% endif %}

                <img src="{{ url('<front>') }}/system/files/video/{{ imgpath }}/{{ "%06d" | format( item['media_event_id'] ) }}/{{ item['media_img']}}" border="0" width="120" alt="{{ item['media_title']}}">
            </div>
            <div style="float:left;width:86%">
                <span class="my_title">
                    <strong>[{{titledesc}}]</strong> 
                    <a href="{{ path('video.video_list', { 'media_event_id': item['id'] }) }}" target="_blank">{{ item['media_title']}}</a>
                </span>
                <div style="margin-top:15px">Date: {{ item['evt_date'] | date('d.m.Y') }}</div>
                <div>
                    {% include '@common/common-tags-list.html.twig' with {tags: item ['tags']} %} 
                </div>
            </div>
        </div>
    {% endfor %}     
    </div>
      
</div>


<div style="float:right; margin:20px;">{{ pager }}</div>

