
<div class="content">
     <div class="text-right">
    {% if (myRecordOnly) %}
      <button class="kicp_button2" onclick="self.location.href='{{ path('fileshare.fileshare_content' , {'my_follow': 1 }  ) }}'"><i class="fa-solid fa-people-group"></i> My Circle</button>
      <button class="kicp_button2" onclick="self.location.href='{{ path('fileshare.fileshare_content') }}'"><i class="fa-solid fa-fingerprint"></i> View All Entries</button>
    {% else %}        
        <button class="kicp_button2" onclick="self.location.href='{{ path('fileshare.fileshare_content' , {'my': 1 }  ) }}'"><i class="fa-solid fa-fingerprint"></i> My Entries Only</button>
        {% if (myfollowed) %}
        <button class="kicp_button2" onclick="self.location.href='{{ path('fileshare.fileshare_content') }}'"><i class="fa-solid fa-fingerprint"></i> View All Entries</button>
        {% else %}        
        <button class="kicp_button2" onclick="self.location.href='{{ path('fileshare.fileshare_content' , {'my_follow': 1 }  ) }}'"><i class="fa-solid fa-people-group"></i> My Circle</button>
        {% endif %}
    {% endif %}  
        <button class="kicp_button" onClick="self.location.href='{{ path('fileshare.fileshare_add') }}'"><i class="fa-solid fa-circle-plus"></i> Add </button>
        <button  class="kicp_button" onClick="self.location.href='{{ path('fileshare.fileshare_folder') }}'"><i class="fa-solid fa-folder-open"></i> Folder</button>
     </div>

{% if (tags) %}
{% include '@common/common-tags.html.twig' %}
{% endif %}  
     <input type="hidden" name="tag_page" id="tag_page" value="{{ path('fileshare.fileshare_content') }}">

 {% if items is empty %}
    <div class="spacer"></div> 
    <div class="text-center">Sorry. No Entries</div>
    <div class="spacer"></div> 
 {% else %}
  {% for item in items %}
     {% if item['title']   %}
      <div class="EntryContainer {{ loop.index0 is odd ? 'even' : 'odd' }} columns">
          <div class="w20"><a href="{{ path('fileshare.fileshare_view', {'file_id': item['file_id'] }) }}"><img src="{{ url('<front>') }}/system/files/fileshare/image/{{ '%06d' | format(item['file_id']) }}/{{ (item['image_name']) }}" border="0" width="200" height="282"></a></div>
          <div class="w50">
               <div class="entry_title"><a href="{{ path('fileshare.fileshare_view', {'file_id': item['file_id'] }) }}">{{ item['title'] }}</a></div>
               <div class="entry_content">{{ item['description'] }}</div>
               <div><span class="entry_subtitle">Folder: </span><a href="fileshare?folder_id={{ item['folder_id'] }}">{{ item['folder_name'] }}</a></div>
               <div><span class="entry_subtitle">Uploaded by: </span> {{ item['user_displayname'] }} <span>{% include '@common/common-follow.html.twig'  with {contributor_id: item['user_id'], following: item['follow']}  %}</span></div>
               <div><span class="entry_subtitle">Date: </span>{{ item['modify_datetime'] | date('d.m.Y H:i:s')}}</div>
               {% include '@common/common-tags-list.html.twig'  with {tags: item ['tags']}  %}            
          </div>
          <div class="w30">
               {% if user.hasPermission('access administration pages') or (item ['user_id'] == my_user_id)  %}
               <span><button class="kicp_button" onclick="self.location.href='{{ path('fileshare.fileshare_change', {'file_id': item['file_id'] }) }}'"><i class="fa-solid fa-pencil"></i> Edit</button></span>
               <span style="margin-bottom:15px;"><button class="kicp_button" onClick="module_item_delete('fileshare',{{ item['file_id'] }})"><i class="fa-solid fa-trash-can"></i> Delete</button></span>
               {% endif %}               
               <div id="cpRate_fileshare_{{ item['file_id'] }}" style="width:100%; margin-top:15px;">{% include '@common/common-rating.html.twig' with {rating: item['rating'], user_id: my_user_id}  %}</div>
          </div>
          
      </div>

     {% endif %}
   {% endfor %}
  <div style="float:right; margin:20px;">{{ pager }}</div>
{% endif %}


{% include '@common/common-confirm-delete.html.twig'  with {module: 'file'}  %}

