<div class="forum_mainpage_title">Latest Forum Topics</div>
<div class="announcement_div">To review the previous forum topics and posts, please kindly access the archive <a href="{{ path('fileshare.fileshare_content', {'folder_id': '19' }) }}" target="_blank">here</a></div>
<div id="DivContentTable">
  <div class="common_table_header2 columns">
    <div class="w30">Latest Updated Topics</div>
    <div class="w20">KICP Forum</div>
    <div class="w20">Creator</div>
    <div class="w10">Replies</div>
    <div class="w20">Date</div>
  </div>
{% for item in latest %}
  <div class="DivContentTable_item2 {{ loop.index0 is odd ? 'even' : 'odd' }} columns">
    <div class="w30"><a href="{{ path('forum.forum_view_topic', {'topic_id': item['topic_id'] }) }}">{{ item['title'] }}</a></div>
    <div class="w20"><a href="{{ path('forum.forum_view_forum', {'forum_id': item['forum_id'] }) }}">{{ item['forum_name'] }}</a></div>
    <div class="w20">{{ item['user_name'] }}</div>
    <div class="w10">{{ item['total_reply'] }}</div>
    <div class="w20">{{ item['create_datetime'] | date('d.m.Y H:i:s') }}</div>
  </div>
    {% endfor %}   
</div>

<div class="forum_mainpage_title">KICP Forum</div>
<div id="DivContentTable" style="display:table;width:100%">
  <div class="common_table_header">
    <div style="width:24%;text-align:left; margin-left:15px;">KICP Forum</div>
    <div style="width:5%;text-align:left;">Topics</div>
    <div style="width:6%;text-align:left;">Posts</div>
    <div style="width:14%;text-align:left;">Date</div>
    <div style="width:24%;text-align:left;">KICP Forum</div>
    <div style="width:5%;text-align:left;">Topics</div>
    <div style="width:5%;text-align:left;">Posts</div>
    <div style="width:14%;text-align:left;">Date</div>
  </div>


  {% for forum in forums %}

  {% if loop.index0 is even %}
  <div style="display:flex;">
  {% endif %}

    <div class="DivContentTable_item " style="width:50%;display:inline-block;">
      <div style="width:55%;float:left;display:block;">
        <a href="{{ path('forum.forum_view_forum', {'forum_id': forum['forum_id'] }) }}">{{ forum['forum_name'] }}</a> 
         {% if user.hasPermission('access administration pages') %}
        <a href="#add-record" onclick="getAddGroupMemberUI('forum',{{forum['forum_id']}});">[{{ forum['forum_access']?'Restricted':'Public' }}]</a>
        {% endif %}
      </div>
      <div style="width:10%;float:left;display:block;">{{ forum['total_topic'] }}</div>
      <div style="width:10%;float:left;display:block;">{{ forum['total_post'] }}</div>
      <div style="width:22%;float:left;display:block;">{{ forum['topic_datetime'] | date('d.m.Y H:i:s') }}</div>
    </div>

    {% if loop.index0 is odd %}    
    </div>
    {% endif %}

  {% endfor %}   
</div>
{% include '@common/common-accesscontrol-modal.html.twig' %}