<div class="forum_mainpage_title">Latest Forum Topics</div>
<div class="announcement_div">To review the previous forum topics and posts, please kindly access the archive <a href="{{ path('fileshare.fileshare_content', {'folder_id': '19' }) }}" target="_blank">here</a></div>
<div id="DivContentTable" style="display:table;">
  <div class="common_table_header">
    <div style="width:24%;text-align:left; margin-left:15px;">Latest Updated Topics</div>
    <div style="width:20%;text-align:left;">KICP Forum</div>
    <div style="width:19%;text-align:left;">Creator</div>
    <div style="width:8%;text-align:left;">Replies</div>
    <div style="width:10%;text-align:left;">Views</div>
    <div style="width:16%;text-align:left;">Date</div>
  </div>
{% for item in latest %}
  <div class="DivContentTable_item  odd " style="width:100%;">
    <div style="width:25%;float:left;display:block;"><a href="{{ path('forum.forum_view_topic', {'topic_id': item['topic_id'] }) }}">{{ item['title'] }}</a></div>
    <div style="width:20%;float:left;display:block;"><a href="{{ path('forum.forum_view_forum', {'forum_id': item['forum_id'] }) }}">{{ item['forum_name'] }}</a></div>
    <div style="width:20%;float:left;display:block;">{{ item['user_name'] }} <span id="DivFollow_KMU.OGCIO"><a href="javascript:void(0);" onclick="updateFollowUserStatus('KMU.OGCIO', 1, this)" style="border-bottom:0px;"><img src="modules/custom/common/images/icon_follow.png" border="0" title="Click icon to follow Contributor" alt="Click icon to follow Contributor" style="vertical-align:middle;"></a></span></div>
    <div style="width:8%;float:left;display:block;">{{ item['total_reply'] }}</div>
    <div style="width:10%;float:left;display:block;">{{ item['counter'] }}</div>
    <div style="width:14%;float:left;display:block;">{{ item['create_datetime'] }}</div>
  </div>
    {% endfor %}   
</div>

<div class="forum_mainpage_title">KICP Forum</div>
<div id="DivContentTable" style="display:table;">
  <div class="common_table_header">
    <div style="width:24%;text-align:left; margin-left:15px;">KICP Forum</div>
    <div style="width:5%;text-align:left;">Topics</div>
    <div style="width:6%;text-align:left;">Posts</div>
    <div style="width:14%;text-align:left;">Date</div>
    <div style="width:24%;text-align:left;">KICP Forum</div>
    <div style="width:5%;text-align:left;">Topics</div>
    <div style="width:5%;text-align:left;">Posts</div>
    <div style="width:14%;text-align:left;">Date</div>
  </div>


  {% for forum in forums %}

  {% if loop.index0 is even %}
  <div style="display:flex;">
  {% endif %}

    <div class="DivContentTable_item " style="width:50%;display:inline-block;">
      <div style="width:55%;float:left;display:block;">
        <a href="{{ path('forum.forum_view_forum', {'forum_id': forum['forum_id'] }) }}">{{ forum['forum_name'] }}</a> 
         {% if user.hasPermission('access administration pages') %}
        <a href="#add-record" onclick="getAddGroupMemberUI('forum',{{forum['forum_id']}});">[{{ forum['forum_access']?'Restricted':'Public' }}]</a>
        {% endif %}
      </div>
      <div style="width:10%;float:left;display:block;">{{ forum['total_topic'] }}</div>
      <div style="width:10%;float:left;display:block;">{{ forum['total_post'] }}</div>
      <div style="width:22%;float:left;display:block;">{{ forum['topic_datetime'] }}</div>
    </div>

    {% if loop.index0 is odd %}    
    </div>
    {% endif %}

  {% endfor %}   
</div>
{% include '@common/common-accesscontrol-modal.html.twig' %}