{% if groups is empty  %}        
            <div style="padding:5px;text-align:center;display:inline-block;width:98%;border:1px solid #ECECEC;">No record found.</div>
{% else  %}
            <div class="access_control_header">
                <div style="width:1%;">&nbsp;</div>
                <div style="width:5%;">&nbsp;</div>
                <div style="width:59%;text-align:left;">Group Name</div>
                <div style="width:23%;text-align:left;">Group Type</div>
            </div>
    {% for group in groups %}            
            <div id="row_1 " class="DivContentTable_item  {{ loop.index0 is odd ? 'odd' : 'even' }}" style="width:100%;">
                <div style="width:1%;float:left;display:block;">&nbsp;</div>
                <div style="width:4%;float:left;display:block;">{{ loop.index0 + 1 }}</div>
                <div style="width:64%;float:left;display:block;"><a href="javascript:;" onclick="displayGroupMember('group_member_P_{{ group['group_id'] }}', '{{ group['group_id'] }}',{{ group['group_id'] }})" style="border-bottom:0px;" id="group_member_link"><span id="group_member_P_{{ group['group_id'] }}">{{ group['group_name'] }}</span></a></div>
                <div style="width:15%;float:left;display:block;">Public</div>
                <div style="width:5%;float:left;display:block;"><a href="javascript:;" onclick="delete_access_control('blog','{{ record_id }}','{{ group['group_type'] }}','{{ group['group_id'] }}')">x</a>
                    <input type="hidden" name="this_module" id="this_module" value="blog">
                    <input type="hidden" name="record_id" id="record_id" value="33">
                    <input type="hidden" name="id" id="id" value="2761">
                </div>
            </div>
    {% endfor %}            
 {% endif %}