<div class="access_control_header" style="padding:2px;width:99%;">
    <div style="width:80%;">Personal Groups</div>
    <div style="width:18%;text-align:center;">Action</div>
</div>
<div style="padding:2px;width:99%;">
{% for item in items %}            
    <div style="display:inline-block;width:100%;border-bottom:1px dotted #CCCCCC;">
        <div style="width:8%;display:inline-block;vertical-align:top;"><img src="{{path('<front>') }}modules/custom/common/images/icon_group_b.gif"></div>
        <div style="display:inline-block;width:75%;">
            <a id="group_member_link" href="javascript:;" onclick="displayGroupMember('group_member_B{{ item['buddy_group_id'] }}', 'B',{{ item['buddy_group_id'] }})"><span id="group_member_B{{ item['buddy_group_id'] }}">{{ item['buddy_group_name'] }}</span></a>
        </div>
        <div style="display:inline-block;width:15%;vertical-align:top;text-align:center;"><a href="javascript:;" onclick="add_access_control('{{module}}','{{ record_id }}','B','{{ item['buddy_group_id'] }}')">Add</a></div>                    
    </div>
{% endfor %}                
</div>