<div id="right_content" style="width:100%;">
    <div id="DivContentTable">
    <div class="type_title">Event Management</div>
<div class="text-right">
     <button class="kicp_button size-2" onClick="self.location.href='{{ path('ppcactivities.admin_item_add') }}'"><i class="fa-solid fa-circle-plus"></i> Add Event</button>
     <button  class="kicp_button size-2" onClick="self.location.href='{{ path('ppcactivities.admin_type') }}'"><i class="fa-regular fa-calendar-days"></i> Event Type Management</button>
     <button  class="kicp_button size-2" onClick="self.location.href='{{ path('ppcactivities.admin_category') }}'"><i class="fa-regular fa-calendar-days"></i> Category Management</button>
</div>  
 {% include '@common/common-search-form.html.twig'  with {placeholder: 'Event Name'}  %}  
        <div class="common_table_header">
            <div style="width:4%;">&nbsp;</div>
            <div style="width:31%;text-align:left;">Event Name</div>
            <div style="width:8%;text-align:left;">Start</div>
            <div style="width:7%;text-align:left;">End</div>
            <div style="width:7%;text-align:left;">Recent</div>
            <div style="width:8%;text-align:left;">Visible</div>
            <div style="text-align:left;">&nbsp;</div>

        </div>

        {% for item in items %}
           {% if  item['evt_name'] %}
        <div id="row_{{ loop.index0 + 1 }}" class="DivContentTable_item {{ loop.index0 is odd ? 'odd' : 'even' }}">
            <div style="width:3%;float:left; ">{{ loop.index0 + 1 }}</div>
            <div style="width:32%;float:left;padding-right:12px;">{{ item['evt_name'] }}</div>
            <div style="width:8%;float:left;">{{  item['evt_start_date'] }}</a></div>
            <div style="width:9%;float:left;">{{  item['evt_end_date'] }}</a></div>
            <div style="width:7%;float:left;">{% if item['is_recent'] %} Y {% else %} N {% endif %}</div>
            <div style="width:7%;float:left;">{% if item['is_visible'] %} Y {% else %} N {% endif %}</div>
            <div style="width:27%;float:left;">
                <button class="kicp_button size-2" onclick="self.location.href='{{ path('ppcactivities.admin_item_change', {'evt_id': item['evt_id'] }) }}'"><i class="fa-solid fa-pencil"></i> Edit</button>          
                <button class="kicp_button size-2" onclick="module_item_delete('ppcactivities_item','{{ item['evt_id'] }}')"><i class="fa-solid fa-trash-can"></i> Delete</button>
                <button class="kicp_button size-2" onclick="self.location.href='{{ path('ppcactivities.admin.enroll_list', {'evt_id': item['evt_id'] }) }}'">Enrollment List</button>
                <button class="kicp_button size-2" onclick="self.location.href='{{ path('ppcactivities.photo', {'evt_id': item['evt_id'] }) }}'">Photo</button>
                <button class="kicp_button size-2" onclick="self.location.href='{{ path('ppcactivities.deliverable', {'evt_id': item['evt_id'] }) }}'">Deliverable</button>
            </div>
        </div>
          {% endif %}
        {% endfor %}
    </div>
</div>

<div style="float:right; margin:20px;">{{ pager }}</div>


