<div id="right_content" style="width:100%;">
    <div class="type_title">COP Category Management </div>
    <div class="text-right">
        <button class="kicp_button size-2" onClick="self.location.href='{{ path('ppcactivities.admin_cop_category_add') }}'"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add COP Category</button>
        <button class="kicp_button size-2" onClick="self.location.href='{{ path('ppcactivities.admin_content') }}'"><i class="fa fa-calendar" aria-hidden="true"></i> Event Management</button>
    </div>
    {% include '@common/common-search-form.html.twig'  with {placeholder: 'Category Name'}  %}  
    <div id="DivContentTable">
        <div class="common_table_header">
            <div style="width:5%;">&nbsp;</div>
            <div style="width:37%;text-align:left;">Category Name</div>
            <div style="width:10%;text-align:left;">&nbsp;</div>
        </div>

        {% for item in items %}
           {% if  item['cop_name'] %}
        <div id="row_{{ loop.index0 + 1 }}" class="DivContentTable_item {{ loop.index0 is odd ? 'odd' : 'even' }}">
            <div style="width:5%;float:left;display:block;">{{ loop.index0 + 1 }}</div>
            <div style="width:75%;float:left;display:block;">{{ item['cop_name'] }}</div>
            <div style="float:left;display:block;"><button class="kicp_button" onclick="self.location.href='{{ path('ppcactivities.admin_cop_category_change', {'cop_id': item['cop_id'] }) }}'"><i class="fa-solid fa-pencil"></i> Edit</button></div>            
            {% if item['evt_total']==0 %}
                <button class="kicp_button size-2" onclick="module_item_delete('ppcactivities_category','{{ item['cop_id'] }}')"><i class="fa-solid fa-trash-can"></i> Delete</button>
           {% endif %}             
        </div>
           {% endif %}
        {% endfor %}
    </div>
</div>

<div style="float:right; margin:20px;">{{ pager }}</div>
{% include '@common/common-confirm-delete.html.twig'  with {module: 'PPC category'}  %}