<div id="right_content" style="width:100%;">
    <div id="DivContentTable">
 <div class="text-right">
     <button class="kicp_button size-2" onClick="self.location.href='../activities_item_add/{{  items['type_id'] }}'"><i class="fa-solid fa-circle-plus"></i> Add Event</button>
     <button  class="kicp_button size-2" onClick="self.location.href='../activities_admin'"><i class="fa-regular fa-calendar-days"></i> Event Type Management</button>
</div>
{% include '@common/common-search-form.html.twig'  with {placeholder: 'Event Name'}  %}  
    <div class="common_table_header">
        <div style="width:4%;">&nbsp;</div>
        {% if  items['type_id'] == 1 %}
        <div style="width:24%;text-align:left;">Event Name</div>
        <div style="width:13%;text-align:left;">COP</div>
            {% else %}
            <div style="width:24%;text-align:left;">Event Name</div>
            {% endif %}
        <div style="width:8%;text-align:left;">Start</div>
        <div style="width:7%;text-align:left;">End</div>
        <div style="width:7%;text-align:left;">Recent</div>
        <div style="width:8%;text-align:left;">Visible</div>
        <div style="text-align:left;">&nbsp;</div>
    </div>

    {% for item in items %}
        {% if  item['evt_name'] %}
    <div id="row_{{ loop.index0 + 1 }}" class="DivContentTable_item {{ loop.index0 is odd ? 'odd' : 'even' }}">
        <div style="width:3%;float:left; display:block;">{{ loop.index0 + 1 }}</div>
        {% if  items['type_id'] == 1 %}
        <div style="width:25%;float:left;display:block;">{{ item['evt_name'] }}</div>
        <div style="width:13%;float:left; display:block;">{{ item['cop_name'] }}</div>
            {% else %}
            <div style="width:25%;float:left;display:block;padding-right:12px;">{{ item['evt_name'] }}</div>
            {% endif %}
        <div style="width:8%;float:left;display:block;">{{  item['evt_start_date'] }}</a></div>
        <div style="width:9%;float:left;display:block;">{{  item['evt_end_date'] }}</a></div>
        <div style="width:7%;float:left;display:block;">{% if item['is_recent'] %} Y {% else %} N {% endif %}</div>
        <div style="width:7%;float:left;display:block;">{% if item['is_visible'] %} Y {% else %} N {% endif %}</div>
        <div style="width:27%;float:left;display:block;">
            <button class="kicp_button size-2" onclick="self.location.href='{{ path('activities.admin_item_change', {'evt_id': item['evt_id'] }) }}'"><i class="fa-solid fa-pencil"></i> Edit</button>          
            <button class="kicp_button size-2" onclick="module_item_delete('activities_item','{{ item['evt_id'] }}')"><i class="fa-solid fa-trash-can"></i> Delete</button>
            <button class="kicp_button size-2" onclick="self.location.href='{{ path('activities.admin.enroll_list', {'evt_id': item['evt_id'] }) }}'">Enrollment List</button>
            <button class="kicp_button size-2" onclick="self.location.href='{{ path('activities.photo', {'evt_id': item['evt_id'] }) }}'">Photo</button>
            <button class="kicp_button size-2" onclick="self.location.href='{{ path('activities.deliverable', {'evt_id': item['evt_id'] }) }}'">Deliverable</button>
        </div>
    </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

<div style="float:right; margin:20px;">{{ pager }}</div>
