 <div class="text-right">
    <button class="kicp_button size-2" onClick="self.location.href='{{ path('activities.photo_add', {'evt_id': evt_id }) }}'"><i class="fa-solid fa-circle-plus"></i> Add Photo</button>
    <button class="kicp_button size-2" onclick="self.location.href='{{ path('activities.admin_event', {'type_id': type_id }) }}'" style="cursor:pointer;">Event List</button> 
</div>
<div id="DivContentTable">
{% include '@common/common-search-form.html.twig'  with {placeholder: 'Photo Name / Description'}  %}  
    <div class="common_table_header">
        <div style="width:20%;text-align:left;margin-left:305px;">Photo Name</div>
        <div style="width:50%;text-align:left;">Description</div>
    </div>

    {% for item in items %}
        {% if  item['evt_photo_id'] %}
        <div id="row_{{ loop.index0 + 1 }}" class="DivContentTable_item {{ loop.index0 is odd ? 'even' : 'odd' }}" style="width:100%;">
            <div style="width:2%;float:left;display:block; margin-left:10px">{{ loop.index0 + 1 }}</div>
            <div style="width:20%;float:left;display:block;"><img src="{{ path('<front>') }}system/files/activities/photo/{{ "%06d" | format(evt_id) }}/{{ item['evt_photo_url'] }}" border="0" width="200"></div>
            <div style="width:21%;float:left;display:block;">{{ item['evt_photo_url'] }}</div>
            <div style="width:35%;float:left;display:block;">{{ item['evt_photo_description'] }}&nbsp;</div>
            <div style="width:20%;float:left;display:block;">
                <button class="kicp_button size-2" onclick="self.location.href='{{ path('activities.photo_change', {'evt_photo_id': item['evt_photo_id'] }) }}'"><i class="fa-solid fa-pencil"></i> Edit</button>          
                <button class="kicp_button size-2" onclick="module_item_delete('activities_photo','{{ item['evt_photo_id'] }}')"><i class="fa-solid fa-trash-can"></i> Delete</button>
            </div>
        </div>
        {% endif %}
    {% endfor %}    
</div>

<div style="float:right; margin:20px;">{{ pager }}</div>
