<div class="text-right">
    <button class="kicp_button size-2" onClick="self.location.href='{{ path('activities.deliverable_add', {'evt_id': evt_id }) }}'"><i class="fa-solid fa-circle-plus"></i> Add Deliveriable</button>
    <button class="kicp_button size-2" onclick="self.location.href='{{ path('activities.admin_event', {'type_id': type_id }) }}'" style="cursor:pointer;">Event List</button> 
</div>
<div id="DivContentTable">
    {% include '@common/common-search-form.html.twig'  with {placeholder: 'Deliverable Name / Description'}  %}  
    <div class="common_table_header">
        <div style="width:31%;text-align:left;margin-left:51px;">Deliverable Name</div>
        <div style="width:50%;text-align:left;">Description</div>
    </div>

    {% for item in items %}
        {% if  item['evt_deliverable_id'] %}
        <div id="row_{{ loop.index0 + 1 }}" class="DivContentTable_item {{ loop.index0 is odd ? 'even' : 'odd' }}" style="width:100%;">
            <div style="width:2%;float:left;display:block; margin-left:10px">{{ loop.index0 + 1 }}</div>
            <div style="width:26%;float:left;display:block;"><a href="{{ path('<front>') }}system/files/activities/deliverable/{{ "%06d" | format(evt_id) }}/{{ item['evt_deliverable_url'] }}">{{item['evt_deliverable_url']}}</a></div>
            <div style="width:45%;float:left;display:block;">{{item['evt_deliverable_name']}}</div>
            <div style="width:20%;float:left;display:block;">
                <button class="kicp_button size-2" onclick="self.location.href='{{ path('activities.deliverable_change', {'evt_deliverable_id': item['evt_deliverable_id'] }) }}'"><i class="fa-solid fa-pencil"></i> Edit</button>          
                <button class="kicp_button size-2" onclick="module_item_delete('activities_deliverable','{{ item['evt_deliverable_id'] }}')"><i class="fa-solid fa-trash-can"></i> Delete</button>
            </div>
        </div>
        {% endif %}
    {% endfor %}    
</div>

<div style="float:right; margin:20px;">{{ pager }}</div>
{% include '@common/common-confirm-delete.html.twig'  with {module: 'deliverable'}  %}