
<div class="homepage_div">
    {% for type in types %}
    <div class="title"><a href="/activities/{{ type['evt_type_id'] }}">{{ type['evt_type_name'] }}</a></div>
    {% if type['evt_type_id'] == 1 %}
    <div>
        <ul>
        {% for group in groups %}
            <li><a href="/activities/{{ type['evt_type_id'] }}/{{ group['group_id'] }}">{{ group['group_name'] }}</a></li>
        {% endfor %}            
    </div>
    {% endif %}
    {% endfor %}            
</div>