{% include '@common/common-tags.html.twig' %}

<input type="hidden" name="tag_page" id="tag_page" value="../survey">

<div id="DivContentTable" style="display:table;">
  {% for item in items %}
    <div id="row_{{ loop.index0 + 1 }} " class="EntryContainer {{ loop.index0 is odd ? 'even' : 'odd' }}" style="width:100%;">
        <div style="width:65%;float:left;display:block;margin-right:20px;">
            <div class="entry_title"><a href="{{ path('survey.survey_view' , {'survey_id': item['survey_id'] }  ) }}">{{ item['title'] }}</a></div>
            {% set text = item['description'] |render|striptags %}
            <div class="entry_content">{{ text |length > 300 ?  text | slice(0, 300) | raw ~ '...' : text | raw }}</div>
            <div>{% include '@common/common-tags-list.html.twig' with {tags: item ['tags']  }  %} </div>
            <div style="margin-top:10px;"><span class="entry_subtitle">Uploaded by: </span>{{ item['user_displayname'] }} <span id="DivFollow_"><a href="javascript:void(0);" onclick="updateFollowUserStatus('{{ item['user_id'] }}', 1, this)" style="border-bottom:0px;"><i class="fa-solid fa-user-plus"></i></a></span></div>
            <div style="margin-top:5px;"><span class="entry_subtitle">Start Date: </span>{{ item['start_date'] | date('d.m.Y')  }}</div>
            <div style="margin-top:5px;"><span class="entry_subtitle">Expiry Date: </span>{{ item['expiry_date'] | date('d.m.Y')  }}</div>
        </div>
        {% include '@common/common-like.html.twig'  with {module: 'survey', 'record_id':  item['survey_id'], countLike: item ['countlike'], 'liked': item ['liked']  }  %}
        <div style="display:block;float:left;width:15%"><span class="title_no_of_reponse">No. of Response: </span><span class="entry_no_of_reponse">{{ item['response'] }} </span></div> 
        <div style="width:10%;float:left;margin-left:10px;display:block;">
          <button class="kicp_button" onclick="self.location.href='{{ path('survey.export_survey' , {'survey_id': item['survey_id'] }  ) }}'">Export</button>
          <div style="margin:10px;"><a href="#add-record" onclick="getAddGroupMemberUI('survey',{{ item['survey_id'] }});">{{ item['survey_access']?'Restricted':'Public' }}</a></div>
        </div>
    </div>
 {% endfor %}  
</div>

<div style="float:right; margin:20px">{{ pager }}</div>

{% include '@common/common-accesscontrol-modal.html.twig' %}