<div id="DivContentTable"

{% include '@common/common-tags.html.twig' %}

     <input type="hidden" name="tag_page" id="tag_page" value="../tag">
     <input type="hidden" name="notag_page" id="notag_page" value="../"> 

 {% for item in items %}

<div class="EntryContainer  {{ loop.index0 is odd ? 'even' : 'odd' }}" style="width:100%;">
    <div style="width:65%;float:left;display:inline-block;"
        ><span class="entry_module">[{{ item['module'] | capitalize  }}]</span> 
         <span class="entry_title2" style="width:100%;"><a href="{{item['link']}}">{{ item['Title'] }}</a></span>
         <div class="bookmark_column2" style="word-wrap: break-word;"><span class="bookmark_subtitle">{% include '@common/common-tags-list.html.twig'  with {tags: item ['tags'] }  %}</div>
    </div>
    
    <div style="width:5%;float:right;display:inline-block;">
        {% if item['module'] in ['blog', 'forum'] %}
         {% include '@common/common-like.html.twig'  with {module: item['module'], 'record_id':  item['record_id'], countLike: item['countlike'], 'liked': items['liked']  }  %}
         {% endif %}
    </div>
</div>
 
 {% endfor %}

</div>

<div style="float:right; margin:20px;"> {{ pager1 }}</div>