
{% if div != 1 %}
<!DOCTYPE html>
<html lang="en">
    <head>		
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="{{ path('<front>') }}modules/custom/kicp_lightgallery/css/main.css" rel="stylesheet">
        <link href="{{ path('<front>') }}modules/custom/kicp_lightgallery/css/justifiedGallery.min.css" rel="stylesheet">
        <link href="{{ path('<front>') }}modules/custom/kicp_lightgallery/css/lightgallery.css" rel="stylesheet">
		<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/jquery.min.js"></script>
    </head>
    <body class="demos">
{% endif %}    
        <input type="hidden" id="gallery_page">
        <div id="page_selector" align="center">[[page_selector]]</div>
        <div>
            <div id="animated-thumbnials" class="list-unstyled justified-gallery" style="height: 520px;">

                {% for item in items %}
                {% if item != "." and item != ".." %}
                <a class="jg-entry" href="{{ path('<front>') }}sites/default/files/public/album/download/{{ album }}/{{ item }}" data-sub-html="{{ item }}">
                    <img class="img-responsive" src="{{ path('<front>') }}sites/default/files/public/album/gal/{{ album }}/{{ item }}">
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>		

<script type="text/javascript">		
console.log("div: {{ div }} ");
</script>

{% if div != 1 %}
<script type="text/javascript">		
    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results==null){
            return null;
        }
        else{
            return decodeURI(results[1]) || 0;
        }
    }
</script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/lightgallery-all.min.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/prettify.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/jquery.justifiedGallery.min.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/transition.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/collapse.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/lightgallery.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/lg-fullscreen.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/lg-thumbnail.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/lg-video.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/lg-autoplay.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/lg-zoom.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/lg-pager.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/jquery.mousewheel.min.js"></script>
<script src="{{ path('<front>') }}modules/custom/kicp_lightgallery/js/demos.js"></script>        
<script type="text/javascript">
$(".page").css('display', 'none');
console.log("page: "+ $.urlParam('Page'));
</script>

{% endif %}  
<script type="text/javascript">
        function loadLightGallery(){
            $(function() {
                animThumb = $('#animated-thumbnials');
                if (animThumb.length) {
                    animThumb.justifiedGallery({
                            border: 6
                    }).on('jg.complete', function() {
                            animThumb.lightGallery({
                                    thumbnail: true,
                                    animateThumb: true
                            });
                    });
                };
                console.log('Loaded Light Gallery');
            });
        }
        
        function changePage(page, PhotoPerPage, totalPages){
            $('#gallery_page').val(page);
            
            $('#animated-thumbnials').html('');
            
            PhotoIndexMin=PhotoPerPage*(page-1);
            PhotoIndexMax=PhotoPerPage*page-1;
            
            var photohtml;
            photohtmlAry = new Array();
            
            
            $.get("modules/custom/kicp_lightgallery/photos.html", function(data) {
                htmldata = data;
            }, 'html').done(function(){

                photohtml = '';
                for(var i=0; i<photosAry.length; i++){
                    if(i>=PhotoIndexMin && i<=PhotoIndexMax){

                        photohtmlAry[i] = htmldata;
                        photohtmlAry[i] = photohtmlAry[i].replace("[[downloadPhotoPath]]", photosAry[i]['downloadPhotoPath']);
                        photohtmlAry[i] = photohtmlAry[i].replace("[[downloadPhotoName]]", photosAry[i]['downloadPhotoName']);
                        photohtmlAry[i] = photohtmlAry[i].replace("[[galPhotoPath]]", photosAry[i]['galPhotoPath']);
                        photohtml = photohtml + photohtmlAry[i];
                        
                    }
                }
                                        
                var gallery = $("#animated-thumbnials");
                gallery.lightGallery();
                gallery.data('lightGallery').destroy(true);
                gallery.html(photohtml);
                //gallery.lightGallery();
                gallery.justifiedGallery({
                        border: 6
                }).on('jg.complete', function() {
                        gallery.lightGallery({
                                thumbnail: true,
                                animateThumb: true
                        });
                });
                                        
                PreviousPage = page-1;
                NextPage = page+1;
                FirstPage = 1;
                LastPage =  totalPages;

                if(PreviousPage<FirstPage){
                    PreviousPage = FirstPage;
                }
                
                if(NextPage>LastPage){
                    NextPage = LastPage;
                }
                
                $('#album_pagePrevious').attr("onclick","changePage(" + PreviousPage.toString() + "," + PhotoPerPage.toString() + "," + totalPages.toString() + ")");
                $('#album_pageNext').attr("onclick","changePage(" + NextPage.toString() + "," + PhotoPerPage.toString() + "," + totalPages.toString() + ")");
                
                if(PreviousPage == page){
                    $('#album_pagePrevious').css('display','none');
                }
                else{
                    $('#album_pagePrevious').css('display','');
                }
                
                if(NextPage == page){
                    $('#album_pageNext').css('display','none');
                }
                else{
                    $('#album_pageNext').css('display','');
                }
                
                if(FirstPage == page){
                    $('#album_pageFirst').css('display','none');
                }
                else{
                    $('#album_pageFirst').css('display','');
                }
                
                if(LastPage == page){
                    $('#album_pageLast').css('display','none');
                }
                else{
                    $('#album_pageLast').css('display','');
                }
                
                for(var j=1; j<=totalPages; j++){
                    $('#album_page' + j).attr("href","#animated-thumbnials");
                    $('#album_page' + j).attr("onclick","changePage(" + j.toString() + "," + PhotoPerPage.toString() + "," + totalPages.toString() + ")");
                }
                
                $('#album_page' + page).removeAttr('href');
                $('#album_page' + page).removeAttr('onclick');
                
                $('.btn_page_selector').css("font-weight", "");
                $('.btn_page_selector').css("color", "");
                
                $('#album_page' + page).css('font-weight', 'bold');
                $('#album_page' + page).css("color", "black");
                
                
            });
        }
        </script>
        <script>loadLightGallery()</script>
{% if div != 1 %}        
    </body>
</html>
{% endif %}  